<!DOCTYPE html>
<html>
<body>
	<div style="width: 100%; height: 100%;"">
		<span style="width: 50%; float:left">
			<h1>Category List </h1>
			<br>
			{% for c in category %}

			<a href="{{url_for('showSelectedCategoryList',category_id = c.id)}}">{{c.name}}</a>
			{% endfor %}
			</br>
		</span>
		<span style="width: 50%; float:left">
			<h1>Item List</h1> 
			<br>
			{% for c in item %}
			<a href="{{url_for('showItem',
			category_id = c.category_id, 
			item_id = c.id)}}">{{c.name}}</a>
		    </br>
			{% endfor %}
			<a href="{{url_for('newItem')}}">Add Item</a>
		</span>
	</div>
</body>
</html>
